:root {
  --header-height: 3rem;
  --header-font-color: #212529;
  --accent-color: #ffa500;
  --bg-color-light: #f8f9fa;
  --bg-color-normal: #e9ecef;
  --font-color: #212529;
  --font-color-muted: #595d62;
  --bg-hover: white;
}

[data-theme="dark"] {
  --bg-color-light: #222327;
  --bg-color-normal: #16171b;
  --font-color: #efefef;
  --font-color-muted: #adb5bd;
  --bg-hover: #2d2e32;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color-light);
  color: var(--font-color);
}

ul {
  list-style-type: none;
}

input {
  background-color: var(--bg-color-light);
  font-family: "Open Sans", sans-serif;
  color: var(--font-color);
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
}

input.edit {
  margin-top: 0;
  padding: 0.5rem 0;
}

input.edit:hover {
  background-color: var(--bg-color-light);
  transition: 0.3s;
}

input:focus {
  outline: none;
  transition: 0.3s;
}

input:hover {
  background-color: var(--bg-hover);
  transition: 0.3s;
}

.btn {
  background-color: var(--bg-color-light);
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-add {
  padding: 0.5rem 0.6rem;
  margin-left: 0.25rem;
}

.btn-add:hover {
  color: var(--font-color-muted);
  transition: 0.3s;
}

.app {
  background-color: var(--bg-color-normal);
  width: 95vw;
  max-width: 600px;
  margin: 1em auto;
  padding: 1em;
}

.header {
  background-color: var(--accent-color);
  height: var(--header-height);
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100vw;
  max-width: 600px;
}

.main-nav {
  display: inline-block;
  position: relative;
}

.main-nav__list {
  background-color: var(--bg-color-light);
  width: 16rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: none;
  position: absolute;
  top: var(--header-height);
  border: 2px solid var(--accent-color);
  border-top: none;
}

.main-nav__list.open {
  display: block;
}

.main-nav__item {
  padding-bottom: 0.75em;
}

.main-nav__item,
.submenu__item {
  font-weight: 500;
}

.main-nav__link {
  color: var(--font-color);
  text-decoration: none;
}
.main-nav__item i {
  padding: 0 1.5em 0 0.25em;
  width: 1.5em;
}

.submenu__list-dropdown {
  cursor: pointer;
}

.submenu__list {
  display: none;
}

.submenu__list.open {
  display: block;
}

.submenu__item {
  padding-left: 2.75rem;
  font-size: 1.25rem;
}

.submenu__item span.fi {
  font-size: 0.75em;
  margin: 0 0.25em;
  cursor: pointer;
}

.submenu__item span.fi.selected {
  border: 3px solid var(--font-color);
  cursor: auto;
}

.submenu__item i {
  cursor: pointer;
}

.submenu__item .dark-off {
  display: none;
}
.submenu__item .dark-off.visible {
  display: inline-block;
}
.submenu__item .dark-on {
  display: none;
}
.submenu__item .dark-on.visible {
  display: inline-block;
}

.main-nav__toggle {
  color: var(--header-font-color);
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
}

.h1 {
  color: var(--header-font-color);
  display: inline-block;
}

.lists__item {
  margin-top: 1em;

  background-color: var(--bg-color-light);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.lists__item-removed {
  color: var(--font-color-muted);
}

.lists__ref {
  background-color: var(--bg-color-light);
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.lists__ref.invisible {
  visibility: hidden;
}

.manage-list {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.manage-list:hover {
  background-color: var(--bg-color-normal);
  transition: 0.3s;
}

.list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__content {
  display: none;
}

.list__content.open {
  display: initial;
}
